html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    /* inherit values from parent element */
    box-sizing: inherit; 
}

body {
    margin: 0px;
    padding: 0px;
    background: #4e713e url('casey-horner-1sim8ojvCbE-unsplash.jpg') repeat;
    display: grid;
    place-items: center;
 }

/* GALLERY STYLES */

#dinoWrapperGallery {
        display: grid;
        margin: auto;
        place-items: center;
}

.dinoGalleryImage {
    max-width: 100%;
    border: rgba(247, 148, 61, .8);
    border-style: groove;
    max-height: 500px;
    box-shadow: 0 0 10px 10px black;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px black;
    /* margin: 10px; */
}
 .gallery {
    width: 100%;
 }

/* NAV BAR STYLES */
.nav-bar-container {
    position: relative;
    top: 0;
    width: 100%;
    margin-bottom: 75px;
}
 .nav-bar {
    list-style-type:none;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    z-index: 1;
    margin: 0;
    padding: 0;
    display: flex
}

 .right-side {
    margin-left: auto;
 }

.nav-bar > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

.nav-bar > li a:hover {
    background-color: #111;
}

.active {
    background-color: rgba(247, 148, 61, .8);
}

.active:hover {
    background-color: rgba(247, 148, 61, .6);
}

  .errorDiv {
    padding-top: 200px;
}

.headerErrorImage {
    background-color: rgb(230, 107, 0);
    border-style: solid;
    /* border-radius: 10%; */
    border-color: black;
    color: black;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    z-index: -1;
}


/* Search Styles */
.search-container {
    float: right;
    width: 400px;
    position: relative;
}
input[type=text] {
    padding: 6px;
    border: none;
    font-size: 17px;
}

.search-container button  {
    width: 100%;
    padding: 6px 10px;
    margin-top: 5px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 5px 5px black;
    position: relative;
    z-index: auto;
}

/* input {
    border: 0 none;
  } */

  .search-container .suggestions {
    width: 100%;
    background: #fff;
    text-align: left;
    position: relative;
    z-index: auto;
  }
  .search-container input {
    width: 100%;
    background: rgba(225, 224, 224, 0.46);
    height: 60px;
    padding: 0 10px;
    box-shadow: 0 0 25px 10px black;
    border-radius: 10px 10px 0 0;
    position: relative;
    text-align: left;
    z-index: auto;
  }



.has-suggestions {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    max-height: 200px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.2);;
}

.suggestions > ul {
    margin-top: 0;
    margin-bottom: 5px;
}

ul.has-suggestions {
    display: block;
    margin-bottom: 5px;
}

.has-suggestions li {
    padding: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
}

.has-suggestions li:hover {
    background-color: rgba(247, 148, 61, .8);
}

.nav-bar .search-container button:hover {
    background: #ccc;
  }

/* END OF NAV/SEARCH BAR */

.resizeNavbar a {
    width: 100%;
}

.resizeNavbar input[type=text] {
    border: 1px solid #ccc;
}

.resizeNavbar button {
    float: none;
    margin: auto;
}

.resizeNavbar {
    display: block;
}

/* Image Name Hover */

.imgWrap {
    position: relative;
    max-width: 500px;
    margin: 25px;
}

/* Responsive Image */
.imgWrap .dinoGalleryImage {
    width: 100%;
}

/* Caption Text */
.hoverName {
    box-sizing: border-box;
    position: absolute;
    width: var(--hover-width); /* Dynamically change width. */
    padding: 10px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    font-size: 1vw;
    border-radius: 10px 10px 0 0;

  }


/* Show or Hide */

.hoverName { 
    visibility: none;
    opacity: 0;
}

.dinoGalleryImage:hover ~ .hoverName, .dinoGalleryImage ~ .hoverName:hover  {
    visibility: visible; 
    opacity: 1;
}

/* Delete button styles */
.delete_all_container {
    float: right;
    width: 200px;
    position: relative;
    margin: 50px auto;
    text-align: center;
}

#delete_all {
    background-color: rgb(230, 107, 0);
    padding: 14px 16px;
    font-size: large;
    color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px 10px black;
}

#delete_all:hover {
    background-color: rgba(247, 148, 61, .95);

}
/* Button Container */
.buttonContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

/* Delete Single Image CSS */

/* Button CSS */
.deleteImage {
    background-color: rgba(247, 148, 61, .8);
    padding: 10px 12px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 2.0vw;
    margin: 10px auto;
    max-width: 500px;
    width: var(--button-width);
    box-shadow: 0 0 10px 10px black;
    border-radius: 25px;
}

.deleteImage:hover {
    background-color: rgba(247, 148, 61, .95);

}

/* Update Button CSS */

.updateImage {
    background-color: rgba(247, 148, 61, .8);
    padding: 10px 12px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 2.0vw;
    margin: 10px auto;
    max-width: 500px;
    width: var(--button-width);
    box-shadow: 0 0 10px 10px black;
    border-radius: 25px;
    
    

}

.updateImage:hover {
    background-color: rgba(247, 148, 61, .95);
}

#popupMessage {
    margin: auto;
    display: none;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    background-color: rgb(167, 11, 11);
    padding: 10px 0;
    /* height: 150px; */
    animation-name: zoom;
    animation-duration: 0.6s;
    line-height: 150px;
    box-shadow:  0 0 20px 10px rgba(153, 152, 152, 0.75);
    border-radius: 10px;
}

#popupValue {
    color: white;
    font-weight: bold;
}

/* Media Queries */
@media screen and (max-width:500px) {
    .search-container {
        position: sticky;
        top: 50px;
        z-index: 1;
    }

    .search-container button {
        opacity: .4;
    }

    .search-container button:hover {
        opacity: .7;
    }
        
    
}

@media screen and (max-width:400px) {
    .search-container {
        width: auto;
    }


}

@media screen and (max-width: 362px) {
    .search-container {
        top: 100px;
        margin-top: 130px;
      }
}

@media screen and (max-width: 193px) {
    .search-container {
        top: 120px;
    }
}

/* Variable values */
:root {
    --font-size-button: 3rem
}

/* Acts as a dynamic value change for the variable being set */
.headerErrorImage {
    font-size: var(--font-size-button);
}

@media (max-width:544px) {
    .headerErrorImage {
        --font-size-button:2.3rem
    }
}

@media (max-width:427px) {
    .headerErrorImage {
        --font-size-button:2.0rem
    }
}

@media (max-width:378px) {
    .headerErrorImage {
        --font-size-button:2.0rem
    }
}

@media (max-width:377px) {
    .headerErrorImage {
        --font-size-button:1.7rem
    }
}

@media (max-width:327px) {
    .headerErrorImage {
        --font-size-button:1.4rem
    }
}

@media (max-width:277px) {
    .headerErrorImage {
        --font-size-button:1rem
    }
}
